<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Meeti - <%- nombrePagina %></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header class="site-header contenedor">
      <a href="/">
        <img src="/img/logo.png" alt="Logo Meeti" />
      </a>

      <nav class="nav">
        <% if(locals.usuario.id) { %>
            <%- include ('partials/nav-autenticado.ejs') %>
        <% } else { %>
            <%- include ('partials/nav-no-autenticado.ejs') %>
        <% } %>
      </nav>
    </header>

    <% if (locals.mensajes) { %>
      <% const categoria = Object.keys(locals.mensajes) %>
      <% if(categoria.length) { %>
            <% locals.mensajes[categoria].forEach(alerta => {  %>
                <div class="alertas">
                  <p class="alerta <%= categoria %>"> <%= alerta %></p>
                </div>
            <% }) %>
      <% } %>
    <% } %>

    <%- body %>

    <footer class="site-footer contenedor">
      <nav class="nav">
        <% if(locals.usuario.id) { %>
            <%- include ('partials/nav-autenticado.ejs') %>
        <% } else { %>
            <%- include ('partials/nav-no-autenticado.ejs') %>
        <% } %>
      </nav>

      <p class="copyright">Todos los derechos reservados Meeti <%- locals.year %></p>
    </footer>

    <script src="/js/trix.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js" defer></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js" defer></script>
    <script src="/dist/bundle.js"></script>
    <script src="/js/meeti.js"></script>
  </body>
</html>